# Sample related
indir: "/mnt/AchTeraD/data/CUTseq_2/fastq/"
samplename: "CUTseq_Turin_S1"
outdir: "/mnt/AchTeraD/data/CUTseq_2/results/"
paired: False
lanesplit: True
trim: True # Only for paired samples
lanes: ["L001", "L002", "L003", "L004"] # Might need to change for NextSeq 2000 vs Nextseq500/550 or Novaseq

# Semi-static
bc: "/mnt/AchTeraD/data/CUTseq_2/barcodes.txt"
pattern: UUUUUUUUBBBBBBBBDDDD # 8bc length
#pattern: UUUUUUUUBBBBBBBBBBBDDDD # 11bc length
mismatches: 1

# Reference
ref: "/mnt/AchTeraD/Documents/references/hg19/hg19.fa"

# Tools
demux: "python /mnt/AchTeraD/Documents/Projects/scCUTseq/Scripts/snakemake-preprocessing/processBarcode.py"
alfred: "/home/luukharbers/alfred/bin/alfred"

# Threads
threads: 4
